html {
    height: 100%;
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

body {
    text-align: center;
    background: linear-gradient(rgba(227, 241, 151, 0.486), rgba(255, 255, 255, 0.349));
    font-family: "Poppins", sans-serif;
    box-shadow: -2px 0px 20px 10px #dda15e;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    margin: 0 0 20px 0;
    font-weight: bold;
    color: #333;
    font-size: 24px;
}

input {
    width: 50px;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    border: 1px solid #fefae0;
    font-size: 16px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

span {
    display: block;
    border-bottom: 3px solid black;
    margin: 20px auto;
    width: 150px;
}

button {
    margin: 10px 0;
    width: 100px;
    border: none;
    background-color: #606c38;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #283618;
}

#sum-el {
    margin-top: 1%;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#calculator {
display: block;
margin-top: 20px;
}
